*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: rgba(231, 86, 38, 1);
  --orange-dark: rgba(190, 59, 16);
  --white: rgba(255, 255, 255);
  --main-background: rgba(23, 23, 25, 1);
  --secondary-background: rgba(38, 38, 40, 1);
}

html,
body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*
  z-index:
  - Dots-link modal => Dialog = 2 | 12, OpenWindow(small) = 15, link-> 10
  - BlackWindow modal = 8;
  - Generic section = 11; 
  - AreUSure modal = 22
*/
